.typewriter p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em; /* Adjust as needed */
    animation: typing 3.5s steps(50, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        max-width: 0;
    }
    to {
        max-width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}

.button {
    background-color: #131313;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.816);
    color: #151515;
    /* animation: glowing 1500ms infinite; */
}

@keyframes glowing {
    0% {
        background-color: rgba(255, 255, 255, 0.816);
        box-shadow: 0 0 3px #ffffff;
    }
    50% {
        background-color: rgba(255, 255, 255, 0.816);
        box-shadow: 0 0 40px #ffffff;
    }
    100% {
        background-color: rgba(255, 255, 255, 0.816);
        box-shadow: 0 0 3px #ffffff;
    }
}
